<div class="user__dropdown--image"></div>
{{#if isDropDownEnabled}}
    <ul class="user__dropdown--list default-light-button">
        <li><img src="/assets/icons/profile.png">Profile</li>
        <li><img src="/assets/icons/inbox.png">Inbox</li>
        <li><img src="/assets/icons/settings.png">Settings</li>
        <li><img src="/assets/icons/logout.png">Logout</li>
    </ul>
{{/if}}