.user__dropdown {
    &--image {
        background: url(/assets/images/user.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 55px;
        height: 55px;
        border-radius: 50%;
        box-shadow: -11px -11px 22px #c4c4c4, 11px 11px 22px #ffffff;;
    }
    &--list {
        position: absolute;
        z-index: 999;
        padding: 0.5em;
        margin: 0.5em;
        right: 20px;
        border-radius: 10px;
        li {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            list-style-type: none;
            margin: 0.5em;
            padding: 0.5em;
            color: $dark-bg;
            cursor: pointer;
            &:hover {
                color: $extra-dark-active;
            }
            img {
                width: 1.2em;
                margin-right: 1em;
            }
        }
    }
}