@mixin flexRows {
    display: flex;
    flex-direction: row;
}
@mixin flexCols {
    display: flex;
    flex-direction: coloumn;
}
@mixin center {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@mixin centerHorizontally {
    left: 50%;
    transform: translateX(-50%);
}

@mixin centerVertically {
    top: 50%;
    transform: translateY(-50%);
}

@mixin appMargin {
    margin: 1.5em 3em;
}