{{#if session.isAuthenticated}}
    <main class="app">
        {{#nav-bar class="navbar" logout=(action 'logout')}}{{/nav-bar}}
        <ul class="app__routeSwitcher">
            <li>
                {{#custom-button class="customButton default-light-button"}}
                    {{#link-to "all"}}ALL{{/link-to}}
                {{/custom-button}}
            </li>
            <li>
                {{#custom-button class="customButton default-light-button"}}
                    {{#link-to "pending"}}PENDING{{/link-to}}
                {{/custom-button}}
            </li>
            <li>
                {{#custom-button class="customButton default-light-button"}}
                    {{#link-to "completed"}}COMPLETED{{/link-to}}
                {{/custom-button}}
            </li>
        </ul>
        <section class="app__landing-page">
            {{outlet}}
        </section>
    </main>
    <footer class="footer">
        <p class="author">&copy;2022 Do It Tomorrow | <a href="https://www.github.com/vigneshmanikandan97" target="_blank">Vignesh Manikandan</a> | All Rights Reserved</p>
        <p class="attributions">Illustrations by <a href="https://storyset.com/data" target="_blank">Storyset</a></p>
    </footer>
{{else}}
    {{#custom-button class="signInBtn customButton default-light-button" click=(action 'login' 'google')}}Sign in with Google{{/custom-button}}
{{/if}}