<main class="not-found-container">
    <img class="not-found-container__img" src="{{rootURL}}assets/images/404.svg" alt="404">
    <p class="not-found-container__description">🤔 Hmm.. The page you might be looking for might not exist.</p>
    {{#custom-button class="not-found-container__button customButton default-light-button" tagName="button"}}
        {{#link-to "index"}}BACK TO HOMEPAGE{{/link-to}}
    {{/custom-button}}
</main>
